<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ChequeDispenseServicePortSoap11" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ws" binding="basicHttpBinding"
                bindingConfiguration="ChequeDispenseServicePortSoap11" contract="ChequeDispenseServicePort"
                name="ChequeDispenseServicePortSoap11" />
        </client>
    </system.serviceModel>
</configuration>